* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f0f2f5;
  color: #333;
}

header.header {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header.header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.searchingarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.searchingarea input, .date-search input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchingarea button, .toggle-dark-mode {
  padding: 10px 20px;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

searchingarea button:hover, .toggle-dark-mode:hover {
  background-color: #6a11cb;
}

section.news-articles {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.news-article {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  color: black;
}

.news-article img {
  max-width: 100%;
  border-radius: 10px;
}

.news-article h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.news-article p {
  font-size: 1em;
  color: #333;
}

.news-article a {
  display: inline-block;
  margin-top: 10px;
  color: #2575fc;
  text-decoration: none;
  transition: color 0.3s;
}

.news-article a:hover {
  color: #6a11cb;
}

.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode header.header {
  background: linear-gradient(45deg, #333, #444);
}

.dark-mode .searchingarea input, .dark-mode .date-search input {
  background-color: #333;
  color: #e0e0e0;
}

.dark-mode .news-article {
  background: #333;
  color: #e0e0e0;
}

.dark-mode .news-article h2 {
  color: #e0e0e0;
}

.dark-mode .news-article p {
  color: #ccc;
}

.dark-mode .news-article a {
  color: #bb86fc;
}

.dark-mode .news-article a:hover {
  color: #3700b3;
}

@media (max-width: 768px) {
  .searchingarea, .date-search {
    flex-direction: column;
    align-items: center;
  }

  .searchingarea input, .date-search input, .searchingarea button {
    width: 100%;
  }
}
